{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<header role="banner" id="header" class="header ng-scope header--up header--at-top">
      <div class="header__content header__sides">
          <div class="header__nav">
              <nav class="header__nav" role="navigation">
                  <div class="header__nav__list">
                      <div class="header__nav-item-wrapper">
                          <a href="/" class="header__nav-item header__nav-item--active" >
                              <span class="header__nav-item__text">
                                  PDF Editor
                              </span>
                          </a>
                      </div>
                  </div>
              </nav>
          </div>

          <div class="header__sides__aside header__user">
              <a role="button" class="button" href="/logout">
                  Logout
              </a>
          </div>
      </div>
  </header>

<div class="sidebar">
    <div class="sidebar__content">
        <div class="sidebar__content-item sidebar-border">
            <a href="/">Home</a>
        </div>
        <div class="sidebar__content-item">
            <a href="#">Add Workers</a>
        </div>
    </div>
</div>

<main class="content_content">
    <div class="d-flex align-items-center">
        <h3 class="me-4">Total Accounts</h3>
        <p class="h2">{{ "{:,}".format(accounts_total) }}</p>
    </div>

    <h2>Accounts</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Registered Date</th>
                    <th scope="col">Last Seen</th>
                </tr>
            </thead>
            <tbody>
                {% if not active_accounts: %}
                <tr>
                    <th scope="col" colspan="6" style="text-align:center;">There are no accounts</th>
                </tr>
                {% endif %}
                {% for account in active_accounts: %}
                <tr>
                    <th>{{ account['id'] }}</th>
                    <th>{{ account['username'] }}</th>
                    <th>{{ account['email'] }}</th>
                    <th>{{ account['role'] }}</th>
                    <th>{{ account['registered'] }}</th>
                    <th title="{{ account['last_seen'] }}">{{ time_elapsed_string(account['last_seen']) }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}